.field {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 0.25rem;
  }

  &__input {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: inherit;
  }
  &__select {
    // margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: inherit;
  }
}

.img-contaienr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img1 {
  width: 6.3125rem;
  height: 6.3125rem;
  border-radius: 50%;
  margin: 0.8438rem 0;
}
