@use "../../styles/partials/reset";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.field {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 0.25rem;
  }

  &__input {
    margin-bottom: 1rem;
    border: 1px solid $form-border-color;
    background-color: $button-text-color;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: inherit;
    height: 2.25rem;
    &::placeholder {
      color: $form-text-color;
    }
  }
  &__select {
    margin-bottom: 0.5rem;
    border: 1px solid $form-border-color;
    background-color: $button-text-color;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: inherit;
    height: 2.25rem;
    color: $form-text-color;
  }
}
