@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

@mixin mobile-max {
  @media screen and (min-width: $mobile-max-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin explore-button {
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  background: $button-color;
  color: $button-text-color;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
  cursor: pointer;
}

@mixin brand-header {
  color: $primary-color;
  text-align: center;
  font-family: Sora;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@mixin landing-page-pref-font {
  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0em;
}
