// colors
$primary-color: #3d3d3d;
$preferences-color: #2851e4;
$preferences-options-color: #f0f3ff;

$button-color: #ff862f;
$button-text-color: #ffffff;

$loading-bar-color: #e1e8ff;

$form-text-color: #7a7a7a;
$form-border-color: #a7a7a7;

// screen sizes
$mobile-breakpoint: 375px;

$mobile-max-breakpoint: 428px;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1140px;
