@use "../../styles/partials/reset";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.get-started-page {
  padding: 0 1.5rem;
  &__wrapper {
    margin-bottom: 3.6875rem;
  }
  &__inner {
    margin-bottom: 2.75rem;
  }
  &__title {
    margin-bottom: 1.3125rem;
    color: $primary-color;
    line-height: 2rem;
    @include mobile-max {
      font-size: 1.25rem;
    }
  }
  &__subtitle {
    color: $primary-color;
    line-height: 2rem;
    &.error {
      color: $button-color;
      font-size: 1.5rem;
      font-weight: 900;
      @include mobile-max {
        font-size: 1.25rem;
      }
    }
    @include mobile-max {
      font-size: 1.25rem;
    }
  }
  &__avatar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__avatar {
    width: 6.3125rem;
    height: 6.3125rem;
    border-radius: 50%;
    margin: 0.75rem 0.25rem;
    cursor: pointer;
    // filter: grayscale(100%);
    &:hover {
      // filter: grayscale(0%);
      border: 1px solid $preferences-color;
    }
    &.selected {
      // filter: grayscale(0%);
      border: 5px solid $button-color;
    }
    @include mobile-max {
      width: 7.2rem;
      height: 7.2rem;
    }
  }
  &__link {
    display: block;
    margin: 1rem auto;
    text-align: center;
    text-decoration-line: none;
    border: 1px solid $preferences-color;
    padding: 0.5rem 3.3125rem;
    width: 15.6875rem;
    border-radius: 0.5rem;
    border: none;
    background: $button-color;
    color: $button-text-color;
    @include mobile-max {
      font-size: 1.25rem;
      padding: 0.675rem 3.5rem;
    }
  }
}
