.recommendation {
  margin-bottom: 0.75rem;
  &__genre {
    margin-bottom: 0.75rem;
  }
  &__img {
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 1rem;
    border-radius: 1.0462rem;
  }
}

.swiper-slide,
.swiper-slide-active,
.swiper-slide-next {
  width: 5.5rem;
  height: 5.5rem;
}
