@use "../../styles/partials/reset";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  height: 100vh;
  border: 1px solid red;
  padding: 0 1.5rem;
  background-image: url("../../assets/images/image2.png");
}

.landing-page {
  border: 1px solid blue;
  padding: 0 1.25rem;
  &__title {
    text-align: center;
  }
  &__inner {
    border: 1px solid green;
    display: flex;
  }
  &__list-left {
    width: 5.8125rem;
    margin-right: 1rem;
    text-align: right;
    border: 1px solid brown;
  }
  &__list-right {
    width: 12.25rem;
    border: 1px solid orchid;
  }
  &__item {
    list-style: none;
  }
  &__subtitle {
    text-align: center;
  }
  &__link {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  &__btn {
    @include explore-button;
  }
  &__img {
    width: 20.0625rem;
    height: 15.625rem;
  }
}
