@use "../../styles/partials/reset";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  height: 100vh;
  background-image: url("../../assets/images/image2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page {
  height: 100vh;
  padding: 0 1.25rem;
  &__title {
    padding-top: 5.3125rem;
    @include brand-header;
    font-size: 2rem;
    line-height: 2.52rem;
    margin-bottom: 3.5rem;
  }
  &__inner {
    display: flex;
    justify-content: center;
    width: 93%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  &__explore {
    margin: 0 4.1875rem;
    margin-bottom: 3.375rem;
  }
  &__list-left {
    margin-right: 1rem;
    text-align: right;
    color: $preferences-color;
    @include landing-page-pref-font;
  }
  &__list-right {
    color: $primary-color;
    @include landing-page-pref-font;
  }
  &__item {
    list-style: none;
    font-size: 1.25rem;
    font-weight: bolder;
    @include mobile-max {
      font-size: 1.5rem;
      font-weight: bolder;
    }
  }
  &__subtitle {
    text-align: center;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    color: $primary-color;
    @include mobile-max {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }
  }
  &__link {
    @include explore-button;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0.9063rem 2.6875rem;
    text-decoration-line: none;
    @include mobile-max {
      font-size: 1.125rem;
    }
  }
  &__img {
    width: 96%;
    margin: 0 auto;
    display: block;
  }
}
