@use "../../styles/partials/reset";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  height: 100vh;
  background-image: url("../../assets/images/image2.png");
}

.landing-page {
  height: 100vh;
  padding: 0 1.25rem;
  padding-top: 8.9375rem;
  &__title {
    @include brand-header;
    font-size: 2rem;
    line-height: 2.52rem;
    margin-bottom: 4.5625rem;
  }
  &__inner {
    display: flex;
    margin-bottom: 2rem;
  }
  &__list-left {
    width: 5.8125rem;
    margin-right: 1rem;
    text-align: right;
    color: $preferences-color;
    @include landing-page-pref-font;
  }
  &__list-right {
    width: 12.25rem;
    color: $primary-color;
    @include landing-page-pref-font;
  }
  &__item {
    list-style: none;
    font-weight: 800;
  }
  &__subtitle {
    text-align: center;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    color: $primary-color;
  }
  &__link {
    @include explore-button;
    display: block;
    margin: 0 auto;
    width: 13.125rem;
    text-align: center;
    padding: 0.9063rem 2.6875rem;
    margin-bottom: 3.375rem;
    text-decoration-line: none;
  }
  &__img {
    width: 100%;
  }
}
